.product-list {
    max-width: 700px;
    margin:20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background: #c0b3a0;
    border: 1px solid #d4394b;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.product-list article p {
    font-size: 16px;
    color: #fff;
    margin-top:5px;
    line-height: 24px;
}

.product-list article a {
    height: 42px;
    border-radius:5px;
    border: 3px solid #d4394b;
    background: none;
    margin-top: 10px;
    color: #d4394b;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.product-list article a:hover {
    background: #22252c;
    color: #fff;
}

.product-list .actions {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #c0b3a0;
    background: #22252c;
    color: #fff;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
}
.product-list .actions button[disabled]{
    opacity: 0.3;
    cursor: default;
}

.product-list .actions button[disabled]:hover{
    opacity: 0.3;
}

.product-list .actions button:hover{
    opacity: 0.8;
}

